@model IEnumerable<BlogPost.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Admin Index List</h1>

@if (User.IsInRole("Administrator"));

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
      @if (item.Status == "Waiting for approval")
{     
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Status)    
            </td>
            <td>
                  <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
        }
}
    </tbody>
</table>
